<a href="https://colab.research.google.com/github/mnocerino23/Winner-s-Circle-Strategy-Analysis/blob/main/Winner'sCircle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [82]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')
horses = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/horses.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [83]:
#The horses dataframe contains the 28 horses within the game
#and the length of each of their runs for a certain dice roll (the die has head, helmet, saddle, and horseshoe on it)
horses.rename(columns = {'Horeshoe':'Horseshoe'}, inplace = True)
print(horses.shape)
horses.head()

(28, 5)

           Name  Head  Helmet  Saddle  Horseshoe
0        Stymie     3      12       4          5
1  Twenty Grand     3       1       5         15
2   Gallant Fox     5       8       3          4
3   Devil Diver     2      14       1          9
4    Top Flight     1       3      12         12

In [84]:
#See the datatypes of each feature and the presence of null values within the dataframe using .info()
horses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       28 non-null     object
 1   Head       28 non-null     int64
 2   Helmet     28 non-null     int64
 3   Saddle     28 non-null     int64
 4   Horseshoe  28 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.2+ KB

Feature Engineering - we will build additional stats for each horse based on probability and the goal of the game

In [85]:
#Average Advance - the average length of a move by a horse. We multiply the probability of each dice roll by the length of move for that dice roll for every horse
#In Winner's Circle the die is not even so Head has a 3/6 chance while helment, saddle, and horseshoe all have a 1/6 chance
horses['Average Advance'] = ''
for index, row in horses.iterrows():
  horses.at[index, 'Average Advance'] = (1/2)*horses.at[index, 'Head'] + (1/6)*horses.at[index, 'Helmet'] + (1/6)*horses.at[index, 'Saddle'] + (1/6)*horses.at[index, 'Horseshoe']
#Having calculated average advance we see that the creator's of the game have made this equal for every horse.

horses['Prob-Non-Head'] = ''
for index, row in horses.iterrows():
  horses.at[index, 'Prob-Non-Head'] = (1/6)*horses.at[index, 'Helmet'] + (1/6)*horses.at[index, 'Saddle'] + (1/6)*horses.at[index, 'Horseshoe']
horses['Prob-Head'] = ''
for index, row in horses.iterrows():
  horses.at[index, 'Prob-Head'] = (1/2)*horses.at[index, 'Head']

horses.head()

,Name,Head,Helmet,Saddle,Horseshoe,Average Advance,Prob-Non-Head,Prob-Head
0,Stymie,3,12,4,5,5.0,3.5,1.5
1,Twenty Grand,3,1,5,15,5.0,3.5,1.5
2,Gallant Fox,5,8,3,4,5.0,2.5,2.5
3,Devil Diver,2,14,1,9,5.0,4.0,1.0
4,Top Flight,1,3,12,12,5.0,4.5,0.5

In [86]:
#Add a feature named contains breakaway. If the horse has a run of 10 or more for any of the dice rolls, we say contains breakaway move is True
horses['contains breakaway'] = ''
sides = ['Helmet','Saddle','Horseshoe']
contains = False
for index, row in horses.iterrows():
  for item in sides:
    if horses.at[index,item] >= 10:
      horses['contains breakaway'] = True
      contains = True
      break
    elif item == 'Horseshoe' and contains == False:
      horses['contains breakaway'] = False
horses.head()

,Name,Head,Helmet,Saddle,Horseshoe,Average Advance,Prob-Non-Head,Prob-Head,contains breakaway
0,Stymie,3,12,4,5,5.0,3.5,1.5,True
1,Twenty Grand,3,1,5,15,5.0,3.5,1.5,True
2,Gallant Fox,5,8,3,4,5.0,2.5,2.5,True
3,Devil Diver,2,14,1,9,5.0,4.0,1.0,True
4,Top Flight,1,3,12,12,5.0,4.5,0.5,True

In [87]:
#Now, code the game and simulate it thousands of times to see if there is a best horse

In [88]:
import random

def winnerscircle:
  #The unbalanced die has 3 heads, 1 helmet, 1 saddle, and 1 horseshoe
  die = ['Head', 'Head','Head', 'Helmet', 'Saddle', 'Horseshoe']
  
  horses = []
  #append 7 horses at random
  #each will have to reach a position 36 + starting position to win



  #save the name and starting position of the horse
  #number of moves it took
  #number of breakaways

SyntaxError: ignored

In [ ]:
#dataframe that holds